<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Carga de libros</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    </head>
    <body>
    	<style>
.form-control {
	width: 50% !important;
}
</style>
     <div th:replace="barraNavegacion :: navegacion"></div>
        <div>
            <h1 align="center"  class="display-3">Formulario carga de Autores</h1>
        </div>
     	<div class="container m-5">
            <form th:action="@{/autor/cargarautor}" method="POST" style="margin-left:37%;">
                <div class="mb-3">
                    <label for="Autor" class="form-label">Ingrese el nombre del autor a buscar</label>
                    <input type="text" class="form-control" name="nombre" >
                </div>
                <button  type="submit" class="btn btn-primary">Buscar</button>
            </form>

        </div>

        <div th:if="${exito}"class="container m-4">

            <h1 class="display-6" align="center">Listado de autores</h1>
            <table class="table table-primary">
                <thead>
                    <tr align="center">
                        <th scope="col">id</th>
                        <th scope="col">Nombre Autor</th>
                        <th scope="col">Está activo?</th>
                        <th scope="col">Alta/Baja</th>
                    </tr>
                </thead>
                <tbody th:each="autor : ${autores}">
                    <tr align="center">
                        <td class="table-success" th:text="${autor.id}"></td>
                        <td class="table-success" th:text="${autor.nombre}"></td>

                        <td>
                            <i th:if="${autor.alta}" class="fa fa-circle text-success"></i>
                            <i th:unless="${autor.alta}" class="fa fa-circle" style="color:red;"></i>
                        </td>
                        <td>
                            <a th:href="@{/autor/alta/__${autor.id}__}"><i class="fa fa-arrow-up"></i></a> 
                            <a th:href="@{/autor/baja/__${autor.id}__}"><i class="fa fa-ban"></i></a>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
                    </p>
                </div>
            </div>
        </section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
